*{
	padding: 0;
	margin:0;
}
ul,li{
	list-style: none;
}
.box{
	width:1200px;
	height:420px;
	position: relative;
	overflow: hidden;
	margin:100px auto;
}
.box>span{
	display: block;
	width: 30px;
	height:50px;
	text-align: center;
	cursor: pointer;
	color: white;
	top:175px;
	line-height: 50px;
	background:rgb(255,0,0);
	font-size: 30px;
	position: absolute;
	opacity: 0;
}
.tipBox{
	position: relative;
	background:#ccc;
	width:100%;
	overflow: hidden;
	height: 23px;
	top:120px;
	text-align: center;
}
.tip{
	position: relative;
	width: 900px;
	overflow: hidden;
	height: 23px;
	left: 2px;
	margin:auto;
}
.warmTip{
	width: 900px;
	color:red;
	font-size: 14px;
	position: absolute;
	left: 800px;
}
#bell{
	position: fixed;
	top:2px;
	left: 360px;
	top:122px;
	margin:auto 2px;
}
.slider{
	width:8400px;
	position: absolute;
	left: -1200px;
	bottom: 0;
}
.slide{
	width:1200px;
	overflow: hidden;
	float: left;
}
.nav{
	position: absolute;
	left:500px;
	bottom: 20px;
}
#left{
	left:30px;
}
#right{
	right: 30px;
}
.nav>li{
	float:left;
	width:20px;
	height:20px;
	line-height: 20px;
	background:#ccc;
	cursor: pointer;
	margin:0 10px;
	border-radius: 50%;
	text-align: center;
}
.nav .oRed{
	color: red;
}
.nav #active{
	background:red;
	color: white;
}
